body {
    background-color: whitesmoke;
}

.container {
    width: 520px;
    margin: auto;
    margin-top: 60px;
}

#ques {
    width: 500px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px 10px;
    font-size: 20px;
}

#ques {
    position: relative;
}

#ques::after, #ques::before {
    content: "";
    width: 80%;
    position: absolute;
    border: 1px solid black;
    top: 50%;
}

#ques::after {
    right: 0;
    transform: translate(100%);
}

#ques::before {
    left: 0;
    transform: translate(-100%);
}

#a, #b,#c,#d {
    height: 50px;
    width: 200px;
    border-radius: 10px 20px;
    text-align: center;
    font-size: 20px;
    position: relative;

}

.main {
    height: 100px;
    border: 2px solid black;
    border-radius: 100px;
    text-align: center;
    width: 150px;
    margin: auto;
    background-color: rgb(245, 233, 213);
}

#one {
    font-size: 20px;
    font-weight: bold;
}

.main {
    position: relative;
}

.main::after, .main::before {
    content: "";
    width: 100%;
    position: absolute;
    border: 1px solid black;
    top: 50%;
}

.main::after {
    right: 0;
    transform: translate(100%);
}

.main::before {
    left: 0;
    transform: translate(-100%);
}

.btn {
    width: 100px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
}

@media (max-width: 500px) {
    #ques {
        width: 300px;
        height: 60px;
        font-size: 18px;
    }

    .container {
        width: 300px;
    }

    #ques {
        position: relative;
    }

    #ques::after, #ques::before {
        content: "";
        width: 0%;
        position: absolute;
        border: 1px solid black;
        top: 50%;
    }

    .main::after, .main::before {
        content: "";
        width: 50%;
        position: absolute;
        border: 1px solid black;
        top: 50%;
    }


}
